{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет Кинотеатр</title>
       <link rel="stylesheet" href="{% static 'css/header_and_footer/menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/film_and_film_detail/cards.css' %}">
     <link rel="stylesheet" href="{% static 'css/header_and_footer/footer.css' %}">
</head>
<body>

<!-- Меню -->
{% include 'components/header.html' %}


<!-- Карточки фильмов -->
<section class="cards">

<!-- цикл тут открытие -->
 {% for i in film %}
    <div class="card">
        <img src="{{ i.image.url}}"
             alt="{{i.title}}">
        <h3><a href="{% url 'film_detail' id=i.id %}">{{ i.title }}</a></h3>
        <p>{{ i.description }}</p>
         <div class="card-buttons">
            <button class="delete"><a href="#">Удалить</a></button>
            <button class="edit"><a href="#">Изменить</a></button>
        </div>
    </div>
{% endfor %}
<!-- цикл тут закрытие -->




</section>


<!-- Футер -->
{% include 'components/footer.html' %}


</body>
</html>
