{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет Кинотеатр</title>
    <link rel="stylesheet" href="{% static 'css/header_and_footer/menu.css'%}">
    <link rel="stylesheet" href="{% static 'css/film_and_film_detail/cards.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_and_footer/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/main_page/hello.css'%}">
    <link rel="stylesheet" href="{% static 'css/film_and_film_detail/film_detail.css'%}">
</head>
<body>

<!-- Меню -->
{% include 'components/header.html' %}
<!-- о фильме подробнее-->
<div class="film-detail">
    <div class="film-info">
        <img src="{{ film_id.image.url }}"
             alt="{{ film_id.title }}" class="film-poster">
        <div class="film-text">
            <h1>{{ film_id.title  }}</h1>
            <p><strong>Дата выпуска:</strong>{{ film_id.created_at }}</p>
            <p><strong>Жанр:</strong>{{ film_id.genre }}</p>
            <p><strong>Директор:</strong>{{ film_id.title  }}</p>
            <p><strong>Описание:</strong>{{ film_id.description }}</p>
        </div>
            <iframe width="640" height="420" src="{{film_id.trailer}}" frameborder="0"></iframe>

    </div>

    <!--  Коменты -->
    <div class="comments">
        <h2>Комментарии</h2>
        <div class="comment-list">
            <!--            цикл открытия-->
            <div class="comment">
                <p><strong>Пользователь1:</strong> Отличный фильм! Очень захватывающе!</p>
            </div>
            <!--            цикл закрытия -->
        </div>
    </div>
</div>


<!-- Футер -->
{% include 'components/footer.html' %}


</body>
</html>
